<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <id>dtrust.central</id>
      <url>https://nexussrv.netcracker.com/content/groups/product-group-dtrust</url>
      <mirrorOf>apache,sonatype-nexus-snapshots,sonatype-nexus-staging</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>default</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>product-group-dtrust</id>
          <url>https://nexussrv.netcracker.com/content/groups/product-group-dtrust</url>
        </repository>
        <repository>
          <id>pd.dtrust.mvn</id>
          <url>https://artifactorycn.netcracker.com/pd.dtrust.mvn</url>
        </repository>
        <repository>
          <id>pd.dtrust.mvn.snapshots</id>
          <url>https://artifactorycn.netcracker.com/pd.dtrust.mvn.snapshots</url>
        </repository>
        <repository>
          <id>pd.dtrust.mvn.staging</id>
          <url>https://artifactorycn.netcracker.com/pd.dtrust.mvn.staging</url>
        </repository>
        <repository>
          <id>central_maven_org.mvn.proxy</id>
          <url>https://artifactorycn.netcracker.com/central_maven_org.mvn.proxy</url>
        </repository>
        <repository>
          <id>packages_confluent_io_maven.mvn.proxy</id>
          <url>https://artifactorycn.netcracker.com/packages_confluent_io_maven.mvn.proxy</url>
        </repository>
        <repository>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>pd.saas-release.mvn.group</id>
          <url>https://artifactorycn.netcracker.com/pd.saas-release.mvn.group</url>
        </repository>
        <repository>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>pd.saas-snapshots.mvn.group</id>
          <url>https://artifactorycn.netcracker.com/pd.saas-snapshots.mvn.group</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>https://nexussrv.netcracker.com/content/groups/tools-repositories-dtrust</url>
        </pluginRepository>
        <pluginRepository>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>nc.maven.plugins</id>
          <url>https://nexussrv.netcracker.com/content/repositories/nc.maven.plugins</url>
        </pluginRepository>
        <pluginRepository>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>nc.maven.plugins.snapshots</id>
          <url>https://nexussrv.netcracker.com/content/repositories/nc.maven.plugins.snapshots</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>
